//$visual-grid: true;
//$visual-grid-color: yellow;
//$visual-grid-index: front;
//$visual-grid-opacity: 0.1;

$width:860px;
$white:#fff;
$red:#F55;
$black:#111;

$yellow:#EDD86C;
$green:#C1E0A3;
$blu:#C3D6ED;
$brown:#ECD0B9;
